<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Yukkuri Maker</title>
    <style>
    #main{
    }
    #options{
      padding: 0.5rem;
    }
    #footer{
      width: 100%;
      color: #AAAAAA;
      padding:10px 30px;
      text-align: right;
      position:relative;
      bottom: 0px;
      }
    textarea.hide{
      display: none;
    }
  </style>
  </head>
<body>
<center>

<ul class "nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
        Hi {{current_user.id}}
        <a href="{{ url_for('log.logout') }}">Sign Out</a>
    {% else %}
        <a href="{{ url_for('log.login') }}">Sign In</a>
    {% endif %}
</ul>

<ul class "nav navbar-nav ">
        <a href="{{ url_for('list') }}">list</a>
</ul>


<div id="topmenu">
  <div class="toggle"></div>
</div>
<div id="main">
<br/>

<div class="w-75 p-3">
  <p id="main_plot" style="text-align:left; font-size:1.15rem;">
    {{newtext|safe}}
  </p>
</div>
</div>


<form method="post" action="/gtts">
    <textarea name="text" id="id_text" style="width:70%;" rows="3" placeholder="Copy and paste the text here."></textarea>
    <div>
        <input class="btn btn-primary"  name="check" type="submit" value="generate mp3" />
    </div>
</form>

<div id="footer">
  <span>(2022)by geroro</span>
</div>

</center>




</body>
</html>
